manifest {
  description = 'Nextflow for MAGs'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.05.0'
  version = '0.1.0'
}


params {
    //Concatenate fastq
    concatenate = false
    assembly = false
    //Kraken2
    single_end = false
    remove_host = false
    no_host = false
    kraken2_use_name = false
    kraken_output = false
    
    // Run kraken2 and visualise with krona
    wimp = false
    //Estimate relative abundance with kraken2 and bracken
    abundance = false
    //Filter campy
    filter = false

    kraken2_db = "/share/human_20200311"
    confidence = 0.05
    //Bracken
    tax_level = 'S,G'
    bracken_read_length = 150
    //MetaPhlAn3
    metaphlan = false
    
    bowtie2db = "/share/metaphlan"
    bowtie2db_index = "mpa_v30_CHOCOPhlAn_201901"
    // Krona taxonomy
    krona_taxonomy = "/share/krona"
    krona_all = false

    maxRetries = 3
    
    //porechop
    trim = true
    kit_name = "auto"
    //rasusa
    subsampling = false
    coverage = 50
    //Canu
    canu_options = false
    //Flye 
    flye_options = "--meta"
    genome_size = false
    // Result location
    // outdir = "output"
    //bwa output
    bwa_output = false

    //Metabat2
    metabat_min_size = 1500
    metabat_rng_seed = 2021

    // Long read QC
    min_length = 1000
    min_qscore = 9
    
    //Assembler - trycycler
    assembler = "flye"
    flye_input = "nano-raw"
    //MOB SUITE
    mob_db = "/share/suite_mob_db"
    ref_db = "/share/suite_mob_db/2019-11-NCBI-Enterobacteriacea-Chromosomes.fasta"
    }

profiles {
    standard {
        conda {
            enabled = true
        }

        process {
            errorStrategy = {task.attempt < 3 ? 'retry' : 'ignore'}
            maxRetries  = params.maxRetries
            
        }

    }

}